body {
    background-image: url(Stupa_Borobudur.jpg);
    background-size: cover;
}

div {
    background-color: white;
    width: 800px;
    height: 500px;
    border: solid red 2px;
    color: blue;
    background-image: url(avocado.jpg);
    margin: 0 auto;
}

.repeat {
    background-image: url(avocado.jpg);
    background-repeat: repeat-x;
}